AUTH0_CLIENT_ID=JHrxaarR6h1HHvJSlhjljWJvF9rmHOHj
AUTH0_ISSUER_URI=https://dev-kmrxhvr858b27bxg.us.auth0.com/
AUTH0_CLIENT_SECRET=replace-with-rotated-client-secret
AUTH_ALLOWED_GROUPS=APP_USER,APP_ADMIN
AUTH_AUDIT_MAX_RECORDS=100
